<nav class="navbar navbar-expand-lg navbar-dark bg-cookmate px-4">
  <a class="navbar-brand fw-bold fs-3" routerLink="/">🍽️ CookMate</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <div class="navbar-nav gap-2">
      <a class="btn btn-outline-light" routerLink="/">Home</a>
      <a class="btn btn-outline-light" routerLink="/recipes">Recipes</a>
      <a class="btn btn-outline-light" routerLink="/contact">Contact Us</a>
    </div>
  </div>
</nav>

