<section class="container text-center my-5">
  <h2 class="display-5 fw-bold mb-3">Welcome to CookMate 🍽️</h2>
  <p class="lead text-muted mx-auto" style="max-width: 800px;">
    Discover thousands of recipes from around the world — all in one place.
    CookMate brings you easy-to-follow cooking guides, curated collections,
    and personalized favorites to make your cooking journey flavorful and fun.
  </p>
  <div style="background-color: rgb(233, 172, 122); border-radius: 10px; padding: 20px; margin-top: 20px;">
    <h4 style="color: rgb(89, 37, 7); padding: 1px; margin-bottom: 20px;">Explore the Trending Dishes</h4>
    <app-corousel></app-corousel>
  </div>
</section>
